@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Urbanist", sans-serif;
}
.ff_inter {
  font-family: "Inter", sans-serif;
}

.social_icon:hover svg circle {
  fill: #ffd300;
  transition: all 0.3s ease-in-out;
}
.join_btn:hover svg path {
  stroke: white;
  transition: all 0.3s ease-in-out;
}

.hero_bg {
  background-image: url("./assets/images/background/hero-bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
}
.swimming_bg {
  background-image: url("./assets/images/background/swimming-bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
}
.turn_tide_bg {
  background-image: url("./assets/images/background/turn-tide.webp");
  background-size: cover;
  background-repeat: no-repeat;
}
